name: test-windows

on: push


jobs:

  # Build wheels and sdist only on pushes to main, and only if validation
  # succeeds
  build-wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        # os: [ubuntu-22.04, windows-2022, macos-13, macos-14]
        # os: [ubuntu-22.04, macos-13, macos-14]
        os: [windows-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Build wheels
      uses: pypa/cibuildwheel@v2.16.5
      env:
        CIBW_BUILD: cp310-* cp311-* cp312-*

    - uses: actions/upload-artifact@v4
      with:
        name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
        path: ./wheelhouse/*.whl
